DB_HOST=localhost
DB_PORT=5432
DB_USER=readme
DB_PASSWORD=readme123
DB_NAME=ms1_users
JWT_SECRET=readme_jwt_secret_compartido_2026
PORT=8001

# AWS S3
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-1
AWS_S3_BUCKET=your_bucket_name_here
